@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #34353b;
}

header {
  height: 100vh;
  padding: 36px 100px;
  width: 100vw;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 90%;
  z-index: 99;
}

header nav img {
  height: 56px;
  width: 56px;
  object-fit: contain;
  border-radius: 50%;

}


header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  margin: 0px 20px;
}

header nav ul li a {
  color: #98999a;
  text-decoration: none;
  transition: all ease 0.5s;
}

header nav ul li a img {
  height: 24px;
  width: auto;
  margin-right: 5px;
}

header nav ul li a:hover {
  color: #fbfbfb;
}

header nav ul li .active {
  color: #fbfbfb;
}

.landing {
  display: flex;
  height: 90vh;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
}

.landing .intro {
  display: flex;
  flex-direction: column;
}

.landing .intro h3 {
  color: #fbfbfb;
  font-weight: 400;
  font-size: 32px;
  margin-left: 10vw;
}

.landing .intro h3 span {
  color: #fec86a;
  font-weight: 600;
  font-size: 3.5rem;
}

.intro button {
  height: 48px;
  width: 144px;
  margin-top: 2.5vh;
  margin-left: 10vw;
  background-color: transparent;
  border: 2px solid #fec86a;
  border-radius: 8px;
  color: #fec86a;
  font-size: 16px;
  transition: all ease 0.5s;
}

.intro button:hover {
  background-color: #fec86a;
  color: #34353b;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 50vh;
}

.socials .line {
  background-color: #fec86a;
  height: 15vh;
  width: 2.5px;
}

.socials i {
  color: #fbfbfb;
  font-size: 36px;
}

.socials a {
  text-decoration: none;
}

.about {
  background-color: #3d3e42;
  color: #fbfbfb;
  padding: 100px;
  text-align: center;
}

.about h1 {
  font-size: 56px;
  font-weight: 700;
  font-family: "Libre Baskerville", serif;
}

.about .description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.about p {
  font-size: 18px;
  line-height: 1.6;
}
.about p span{
  color: #fec86a;
  font-weight: 600;
  font-size: 2rem;
}


section.education {
  background-color: #3d3e42;
  padding: 50px;
}

.education h1 {
  font-size: 56px;
  color: #fbfbfb;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.education-headline {
  display: flex;
  text-align: center;
  color: #fbfbfb;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.drop-down {
  flex-basis: 48%;
  background-color: #3d3e42;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.notable-courses,
.extra-curricular {
  background-color: #fec86a;
  color: #34353b;
  padding: 15px;
  margin: 0;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
}

.course-list,
.curricular-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.course-list li,
.curricular-list li {
  padding: 10px;
  border-bottom: 1px solid #fbfbfb;
}

.course-list li:last-child,
.curricular-list li:last-child {
  border-bottom: none;
}

.notable-courses.active,
.extra-curricular.active {
  background-color: #3498db;
  color: #fff;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
}

.skills h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.cards {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 2.5vh;
}

.skill-card {
  height: 12vw;
  width: 12vw;
  background-color: #3d3e42;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  transition: all ease 0.5s;
}

.skill-card:hover {
  background-color: #fec86a;
}

.skill-card img {
  height: 3.5vw;
  width: 3.5vw;
  object-fit: contain;
}

.skill-card h2 {
  font-size: 24px;
  font-weight: 400;
  color: #fbfbfb;
}

.projects {
  background-color: #3d3e42;
  color: #ffffff;
  padding: 80px 0;
  text-align: center;
}

.projects h1 {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff; /* Highlight color */
  font-family: "Libre Baskerville", serif;
}

.project-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-card {
  background-color: #333333; 
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #2c3e50;
}

.project-details {
  padding: 20px;
  text-align: left;
}

.project-details h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff; 
}

.project-details p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #dcdcdc;
}

.project-link {
  display: inline-block;
  background-color: transparent; 
  color: #fec86a;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 2px solid #fec86a;

  
}

.project-link:hover {
  background-color: #fec86a;
  color: #34353b;}

.experience {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  align-items: center;
  justify-content: center;
}

.darker-div {
  background-color: #34353a;
  width: 100vw;
  height: 10vh;
}

.experience h1 {
  position: absolute;
  color: #fbfbfb;
  font-size: 56px;
  font-family: "Libre Baskerville", serif;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 15%;
}

.lighter-div {
  background-color: #3d3e42;
  width: 100vw;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.lighter-div .exp {
  height: 30vh;
  width: 50vw;
  position: relative;
  margin-left: 20vh;
}

.exp h2 {
  color: #fbfbfb;
  font-size: 32px;
  font-weight: 400;
}

.exp h2::before {
  content: "";
  height: 20px;
  width: 20px;
  color: #fec86a;
  background-color: #fec86a;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 7.5%;
  left: -5%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px #fec86a;
}

.exp-desc::before {
  content: "";
  height: 190px;
  width: 2.5px;
  background-color: #fbfbfb;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: -5%;
}

.exp-desc h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

.exp-desc p {
  color: #fbfbfb;
  font-size: 16;
  font-weight: 400;
}

.contact-me {
  width: 100vw;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-me h1 {
  font-size: 56px;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

.contact {
  display: flex;
  gap: 24px;
}

.contact-card {
  background-color: #fec86a;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  margin-top: 7.5vh;
}

.contact-card a {
  color: black;
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}
